.thumbnail {
  max-width: 750px;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  border: solid 2px red;
}

.thumbnail button {
  padding: 0;
  position: relative;
}

.thumbnail span {
  position: absolute;
  display: block;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 1px 4px;

  width: max-content;
  color: white;
  background-color: red;
}
